*,*:before,*:after{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;}
body{background:#e1e8ec;font-size:14px;line-height:22px;color:#37474f;font-family:Roboto, Verdana, sans-serif;position:relative;}
a,a:link,a:visited{color:#4774a7;text-decoration:none;}
button{background:#cfd8dc;border:1px solid #b0bec5;}
.flex{display:-webkit-flex;display:flex;}
.flex-wrap{display:-webkit-flex;display:flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;}
.center{text-align:center;-webkit-justify-content:center;justify-content:center;}
.no-items{display:none;}
.sflink{max-width:600px;padding:15px;margin:0 auto;}
.sflink .title{font-size:20px;margin:5px 0 25px;text-align:center;}
.sflink .input input{width:80%;padding:5px 10px;margin:0 5px 0 0;border:1px solid #b0bec5;}
.sflink .input button{width:20%;}
.sflink .result{margin:20px 0 0;}
.sflink .result input{background:transparent;padding:5px 0;width:100%;border:0;border-bottom:1px solid #b0bec5;}
.sflink .result input:focus{outline:0;}
.sflink .result button{width:25%;padding:5px 10px;margin:15px 0 0;}
.sflink .tools{margin:30px 0 0;}
