.creator .by {
  display: block;
  padding: 10px 15px;
}
.output {
  position: relative;
}
.output .btn-clipboard {
  position: absolute;
  top: 5px;
  right: 20px;
  /* padding: 10px 9px; */
  /* background: url(../images/clippy.svg) center/100% 100% no-repeat; */
  opacity: 0;
  /* transition: opacity .5s ease; */
}
.output.active .btn-clipboard {
  opacity: 1;
}
.output .btn-clipboard svg {
  width: 13px;
}
.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
